ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 5px;
    border: 1px solid #d2d2d2;
}

a:link,
a:visited {
	text-decoration:none;
}

a {
    width: 100%;
}

li:hover,
a:hover,
a:focus {
	color:#fff;
	background:#727454;
}